body {
    background-image: url("/images/logo-background.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

.footer {
    height: 200px;
    width: 1920px;
    background-color: #243025;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
}

#button1 {
    position: relative;
    display: inline-block;

    padding-top: 20px;
    text-align: center;
    background-color: green;

    height: 50px;
    width: 250px;
    left: 200px;

    text-decoration: none;
    color: white;

    top: 900px;
    z-index: 1;
}

#button2 {
    position: relative;
    display: inline-block;

    padding-top: 20px;
    text-align: center;
    background-color: green;

    height: 50px;
    width: 250px;
    left: 550px;

    text-decoration: none;
    color: white;

    top: 900px;
    z-index: 1;
}

#button3 {
    position: relative;
    display: inline-block;

    padding-top: 20px;
    text-align: center;
    background-color: green;

    height: 50px;
    width: 250px;
    left: 900px;

    text-decoration: none;
    color: white;

    top: 900px;
    z-index: 1;
}

#login {
    position: relative;
    display: inline-block;

    padding-top: 10px;
    text-align: center;
    background-color: #e7c124;

    height: 30px;
    width: 250px;
    left: 870px;

    text-decoration: none;
    color: white;

    top: 10px;
}
