body {
    background-color: #181818;
}

#logo {
    height: 75px;
    width: 150px; 
 }

 .rectangle {
    width:200px;
    height:300px;
    background:#313030;
    margin-top: 100px;
    margin-left: 155px;
    margin-right: 140px;
    margin-bottom: 100px;
    display: inline-block;
}

.texte {
color: rgb(255, 255, 255);
position: absolute;
display: inline-block;
}